* {
    font-family: "poppins";
}
body {
    background: white;

}
.imgBx img{
    width: 250px;
    border-radius: 20px;
}

  .card_filiais::after{
 display: none;
  }
  .code-box {
    background-color: #222;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
  }

  .code-box code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    color: #fff;
  }

  .code-box pre {
    margin: 0;
  }

  .code-box pre::before {
    content: 'Code';
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .code-box pre::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue;
    margin-top: 10px;
  }
